{% extends 'layer_center.html.twig' %}

{% block title %}
    {{ 'label.profile'|trans }}
    {{ parent() }}
{% endblock %}

{% block card_header %}
    <h1 class="text-center">{{ 'label.profile'|trans }}</h1>
{% endblock %}

{% block card_body %}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flash }}</div>
    {% endfor %}

    <div class="mb-2 text-center">
        {{ include('partials/avatar.html.twig', {size: 128}) }}
    </div>

    {% block profile_content %}
    {% endblock %}

{% endblock %}

{% block card_footer %}
    fgdfgdf
{% endblock %}