<article class="card post mb-3">
    <div class="card-header">
        <div class="post-type shadow-sm">
            Type {{ post.type }}
        </div>
        <div class="d-flex">
            {{ include('partials/avatar.html.twig', {size: 64, current_user: post.user}) }}
            <div class="ps-2">
                <h4><a href="">{{ post.user.displayName }}</a></h4>
                <time class="text-secondary fs-6">{{ post.createdAt|date }}</time>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="post-title">
            <h2>{{ post.title }}</h2>
        </div>
        {% if post.image %}
            <div class="post-image">
                <img src="{{ asset(post.image.name, 'post_image')|imagine_filter('post_image') }}"
                     alt="{{ post.title }}"
                     title="{{ post.title }}"
                     width="{{ post.image.width }}"
                     height="{{ post.image.height }}">
            </div>
        {% endif %}
        <div class="post-description"></div>
        <div class="post-actions"></div>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="{{ path('app_post_delete', {id: post.id}) }}">DELETE</a>
    </div>
</article>