{{ form_start(form, form_options|default({})) }}
    {{ form_widget(form) }}
    <div class="text-right">
        <button class="btn {{ btn.classes|default('btn-primary') }}" type="{{ btn.type|default('submit') }}" onsubmit="this.disabled=true">{{ btn.label|default('label.submit' | trans) }}</button>
    </div>
{{ form_end(form) }}
